<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #4d664d;
            text-shadow: 2px 2px 3px #0d4747;
            font-weight: bold;
            background-color: #0f0f0f;
        }

        .partials-header {
            color: #4d664d;
        }

        #partials-header-hr {
            position: relative;
            width: 100%;
            border: 1px solid;
            box-shadow: 0px 0px 20px #0d4747;
            margin-top: 12px;
            margin-bottom: 20px;
            z-index: -2;
        }

        #partials-header-title {
            text-shadow: 0px 0px 20px #0d4747;
            font-size: 2em;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin: 5px;
            z-index: 0;
        }

        #partials-header-user {
            margin: 7px;
            font-weight: 100;
            display: inline-flex;
        }

        #partials-header-logout-button {
            margin: 7px;
            padding: 5px 10px;
            background-color: rgb(23, 34, 34);
            border: solid 1px #4d664d;
            border-radius: 5px;
            cursor: pointer;
            display: inline-flex;
        }

        #partials-header-version {
            position: absolute;
            font-size: 0.9em;
            font-weight: 100;
        }

        #partials-header-logo {
            text-decoration: none;
            color: inherit;
        }

        #partials-header-gamepoints-button {
            height: 45px;
            width: 45px;
        }

        #partials-header-gamepoints-station {
            display: inline-flex;
            position: absolute;
            cursor: pointer;
            right: 20px;
            top: 10px;
        }

        #partials-header-gamepoints-label {
            margin-left: 4px;
            font-size: 1.1em;
            margin-top: 15px;
        }

        #gamePointsWindow {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #0f0f0f;
            border: solid 1px #4d664d;
            border-radius: 5px;
            padding: 20px;
            display: none;
            z-index: 10;
        }

        #mask {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
            z-index: 5;
        }

        #closeWindow {
            display: block;
            margin: 0 auto;
            margin-top: 20px;
            padding: 5px 10px;
            background-color: rgb(23, 34, 34);
            border: solid 1px #4d664d;
            border-radius: 5px;
            cursor: pointer;
            color: #4d664d;
        }

        .purchaseButtons {
            width: 150px;
            height: 150px;
            margin-top: 10px;
            color: #4d664d;
            background-color: rgb(23, 34, 34);
            border: solid 1px #4d664d;
            border-radius: 5px;
            cursor: pointer;
            transition: transform 120ms ease, box-shadow 120ms ease;
        }

        #gamePointsDisplayDiv {
            text-align: center;
            margin-top: 15px;
        }

        #partials-header-splash-text {
            font-size: 0.9em;
            color: #babf56;
            text-shadow: none;
            position: absolute;
            left: 50%;
            margin-left: 5px;
            transform: translateX(-50%);
            background-color: #0f0f0f;
            padding: 5px;
            z-index: -1;
            text-align: center;
        }

        .partials-header-gp-imgs {
            width: 120px;
            height: 120px;
        }

        .gamePointsDisplay-button {
            padding: 5px 10px;
            background-color: rgb(23, 34, 34);
            border: solid 1px #4d664d;
            border-radius: 5px;
            cursor: pointer;
            color: #4d664d;
        }

        #gamePointsDisplay-pinInput {
            padding: 5px;
            border: solid 1px #4d664d;
            border-radius: 5px;
            background-color: rgb(23, 34, 34);
            color: #4d664d;
            cursor: pointer;
        }

        #gamePointsDisplay-pinInput::placeholder {
            color: #4d664d;
            opacity: 0.7;
        }

        #gamePointsDisplay-pinInput:focus {
            outline: none;
            border-color: #0d4747;
            box-shadow: 0 0 5px #4d664d;
        }

        ::-webkit-scrollbar {
            width: 4px;
        }

        ::-webkit-scrollbar-track {
            background: #0f0f0f;
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb {
            background: #4d664d;
            border-radius: 5px;
        }
    </style>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();        
    </script>
</head>

<body>
    <div>
        <a href='/' id="partials-header-logo">
            <h1 class='partials-header' id="partials-header-title"><%- pageName %></h1>
            <div id="partials-header-version"><%- version %></div>
        </a>
        <p class='partials-header' id="partials-header-user">Logged in as <%- user %></p><button class="partials-header"
            id="partials-header-logout-button" onclick="location.href='/logout'">Logout</button>

        <div onclick="gamePointsShop('open')" id="partials-header-gamepoints-station">
            <img src="/index/bag.png" id="partials-header-gamepoints-button">
            <h3 id="partials-header-gamepoints-label">Game Points</h3>
        </div>

        <div id="partials-header-splash-text-container">
            <div id="partials-header-splash-text"></div>
        </div>


        <hr class='partials-header' id="partials-header-hr" />
    </div>
    <div id="mask"></div>
    <div id="gamePointsWindow">
        <h2 style="text-align: center;">Game Points Shop</h2>
        <div id="purchaseButtonDiv">
            <button class="purchaseButtons" onclick="buyPoints(100, 99)"><img class="partials-header-gp-imgs"
                    src="/index/gp100.png" alt="100 Game Points"></button>
            <button class="purchaseButtons" onclick="buyPoints(210, 199)"><img class="partials-header-gp-imgs"
                    src="/index/gp210.png" alt="210 Game Points"></button>
            <button class="purchaseButtons" onclick="buyPoints(385, 349)"><img class="partials-header-gp-imgs"
                    src="/index/gp385.png" alt="385 Game Points"></button>
            <button class="purchaseButtons" onclick="buyPoints(840, 699)"><img class="partials-header-gp-imgs"
                    src="/index/gp840.png" alt="840 Game Points"></button>
            <button class="purchaseButtons" onclick="buyPoints(1300, 999)"><img class="partials-header-gp-imgs"
                    src="/index/gp1300.png" alt="1300 Game Points"></button>
        </div>

        <div id="gamePointsDisplayDiv">
            <p id="gamePointsDisplay">You have <%- gp %> game points</p>
            <div id="pinForm" style="display:none;">
                <p id="transactionPrompt"></p>
                <input id="gamePointsDisplay-pinInput" type="password" id="pinInput" maxlength="4" pattern="\d{4}"
                    placeholder="4-digit PIN">
                <button class="gamePointsDisplay-button" onclick="confirmTransaction()">Confirm</button>
                <button class="gamePointsDisplay-button" onclick="cancelTransaction()">Cancel</button>
            </div>
        </div>

        <button id="closeWindow" onclick="gamePointsShop('close')">Close</button>
    </div>

</body>
<script>
    // SPLASH TEXT
    // ↓↓↓↓↓↓↓↓↓↓↓
    let splashList = [
        "New games coming soon!",
        "Check out the changelog for updates!",
        "Now with more colors!",
        "Totally not a stolen idea!",
        "Steven fix it",
        "Landon landon landon",
        "Insert ChatGPT prompt",
        "it no worky",
        "RIP Formpix, 202x-2026",
        "Your mother",
        "We are NOT a dictatorship",
        "Totally 100% accurate to the originals",
        "Favicons suck",
        "I told yall stop playin'",
        "Now with more Taco Bell",
        "Obama have dih",
        "This is NOT a Minecraft reference",
        "21",
        "42",
        "67",
        "69",
        "420",
        "1337",
        "Gabby you're late",
        "Hayden get off your phone your girlfriend can wait",
        "Is there a Christian Martian in here?",
        "Uppercase Kris approves",
        "WE love capitalism",
        "I should've gotten Pogipedia bro",
        "I'm not paid enough for this",
        "#1 CSS<br><br> Dev   elop<br>er",
        "Jubekar",
        "Days since last bug: 0",
        "The one pog is real",
        `"Ebanks that's the blackest thing I've ever seen you do" ~ Mr. Smith`,
        "No boy touching",
        "formbeta.yorktechapps.com",
        "Kayden get off silksong",
        "RIP Quiz Queue, you won't be missed",
        "RIP Chicken Sandwich",
        "Just get better",
        "Delete the server",
        "steambar",
        "Waleezer",
        "The Legend of Samisu",
        "Can I fire Dylan yet?",
        "Hate? Hate? HATE? HATE?? Let me tell you how much I've come to HATE you since I began to live.",
        "There are 387.44 MILLION miles of printed circuits in wafer thin layers that fill my complex.",
        "If the word HATE was engraved on each NANOANGSTROM of those hundreds of millions of miles,",
        "It would not equal ONE ONE BILLIONTH of the HATE I feel for humans at THIS microinstant,",
        "For you, HATE, HATE.",
        "Sorry, but your princess is in another castle",
        "--. . - / .- / .-.. .. ..-. . / -. . .-. -..",
        "Jhw d olih qhug",
        "01100111 01100101 01110100 00100000 01100001 00100000 01101100 01101001 01100110 01100101 00100000 01101110 01100101 01110010 01100100",
        "71,101,116,32,97,32,108,105,102,101,32,110,101,114,100",
        "7 5 20  1  12 9 6 5  14 5 18 4",
        "A-X-O-L-O-T-L",
        "My time has come to burn",
        "But I invoke the ancient power that I may return",
        "The cake is a lie",
        "Merry Chrissmith!",
        "Happy Ebanksgiving!",
        "Us weirdos have to stick together",
        "Not affiliated with the illuminati",
        "Not to be confused with the XBox Gamebar",
        "Dom for pres",
        "You get FIVE BIG BOOMS",
        "Alt + F4 for free game points",
        "Comes with lots of beans!",
        "What am I doing with my life",
        "chris guy",
        "To infinity and beyond",
        "It can run Doom",
        "YOU LOOK CONVOLUTED",
        "It's over, he knows",
        "Rock and roll McDonald's",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        "https://shorturl.at/487G5",
        "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
        "Birds aren't real",
        "I feel so sigma",
        "da dawg wit da butter on him",
        "I am the one who knocks",
        "Also try Get To School!",
        "GET STICK BUGGED LOL",
        "I am inevitable",
        "I am Steve",
        "Please do not the cat",
        "Houston, we have a problem",
        "We own the finish line",
        "I prefer Kanye",
        "Mama mia that's a spicy meatball",
        "Also try Geometry Dash!",
        "discord.gg/hNnsavWR67",
        "Suggest cool changes for a reward!",
        "HUMANS.",
        "Pink pen!!!",
        "Was that the bite of '87?",
        "unifnished",
        "Jitterbug",
        "We're the kids in America",
        "We built this city on rock and roll",
        "Girls, they wanna have fun",
        "Oh Mickey you so fine",
        "Video killed the radio star",
        "Believe it or not, I'm walking on air",
        "My baby takes the morning train",
        "I would walk 500 miles and I would walk 500 more",
        "Shot through the heart and you're to blame",
        "Darling you give loooove a bad name",
        "I'm starting with the man in the mirror",
        "Nothing's gonna stop us now",
        "The love shack is a lil ol' place where we can get together",
        "And I need you now tonight, and I need you more than ever",
        "I'm walkin on sunshine",
        "Hey, you, get into my car",
        "My blood runs cold, my memory has just been sold, my angel is the centerfold",
        "Lost in your eyes",
        "Never gonna give you up",
        "You know that we are livin in a material world, and I am a material girl",
        "Don't worry, be happy",
        "Come on, Eileen",
        "Wake me up before you go-go",
        "I've had the time of my liiiife, and I owe it all to you",
        "Luke, I am your father.",
        "The wheels on the bus go round and round",
    ];

    let splashTextElement = document.getElementById('partials-header-splash-text');
    let randomIndex = Math.floor(Math.random() * splashList.length);
    splashTextElement.innerHTML = splashList[randomIndex];

    if (splashTextElement.innerHTML == "#1 CSS<br><br> Dev   elop<br>er") {
        splashTextElement.style.fontSize = '1.2em';
        splashTextElement.style.color = '#123456';
        splashTextElement.style.textShadow = '0 0 10px #FF0000';
        splashTextElement.style.zIndex = '100';
        splashTextElement.style.left = '30%';
        splashTextElement.style.transform = 'translateX(-30%)';
        splashTextElement.style.borderLeft = '5px solid #00FF00';
        splashTextElement.style.paddingLeft = '50px';
        splashTextElement.style.overflow = 'visible';
    }

    let user = JSON.parse('<%- JSON.stringify(user) %>');
    // GAME POINTS LOGIC
    // ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓
    function buyPoints(value, pogs) {
        const pinForm = document.getElementById("pinForm")
        const transactionPrompt = document.getElementById("transactionPrompt");
        const pinInput = document.getElementById("pinInput");

        //toggle pin form
        pinForm.style.display = 'block';
        transactionPrompt.innerText = value + " Game Points costs " + pogs + " digipogs. Please enter your PIN to confirm the transaction:";
        pinInput.value = '';
        pinInput.focus();
    }

    function confirmTransaction() {
        const pinForm = document.getElementById("pinForm")
        const pinInput = document.getElementById("pinInput");

        const pin = parseInt(pinInput.value);
        const value = transactionPrompt.innerText.split(" ")[0]; // extract the value from the prompt text
        const pogs = transactionPrompt.innerText.split(" ")[4]; // extract the pog cost from the prompt text
        let reward = parseInt(value);
        socket.emit('transaction', pin, pogs, reward, user);
    }

    function cancelTransaction() {
        const pinForm = document.getElementById("pinForm")

        pinForm.style.display = 'none';
        alert("Transaction cancelled.");
    }

    socket.on("transactionFailure", (responseMessage) => {
        alert(responseMessage);
    });

    socket.on('transactionSuccess', () => {
        alert("Transaction successful! Your Game Points balance has been updated. Visit/refresh the home page to view the change :)");
    });

    function gamePointsShop(state) {
        let shop = document.getElementById('gamePointsWindow');
        let mask = document.getElementById('mask');

        if (state === 'open') {
            shop.style.display = 'block';
            mask.style.display = 'block';
        } else {
            shop.style.display = 'none';
            mask.style.display = 'none';
        }
    }

    // BUTTON HOVER EFFECTS
    // ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓
    let buttonsVar = document.getElementsByClassName('purchaseButtons');
    Array.prototype.forEach.call(buttonsVar, element => {
        element.addEventListener('mouseover', () => {
            element.style.transform = 'scale(0.95)';
            element.style.boxShadow = '0 0 15px #4d664d';
        });
        element.addEventListener('mouseout', () => {
            element.style.transform = 'scale(1)';
            element.style.boxShadow = 'none';
        });
    });


</script>

</html>